.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .findArea {
    background-image: url("../../AllImages/book-background.jpg");
    background-size: cover;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      color: white;
      font-size: 60px;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    .inputArea {
      margin: 40px auto;
      width: 40%;
      position: relative;


      & button {
        position: absolute;
        right: 0;
        top: 7px;
        background: inherit;
        outline: none;
        border: none;
        transition: all .4s ease-in-out;

        &:hover {
          transform: scale(1.3);
          cursor: pointer;
        }

        &:active {
          opacity: .5;
          transform: scale(.7);
          transition: all .1ms ease-in-out;
        }
      }

      & input {
        width: 100%;
        outline: none;
        padding: 5px;

        &:valid ~ label {
          transform: translateX(-300px);
          color: white;
        }

        &:focus ~ label {
          transform: translateX(-300px);
          color: white;
        }
      }

      & label {
        position: absolute;
        top: 5px;
        left: 10px;
        transition: all .4s ease-in-out;

      }


    }

    .sortArea {
      display: flex;
      justify-content: space-around;
      @media (max-width: 450px) {

        & {
          flex-direction: column;
        }
      }

      & label {
        color: white;
      }

      & select {
        margin: 0 30px;
      }
    }
  }

  @media (max-width: 1000px) {
    .findArea {
      width: 100%;
      margin: 0 auto;

      .inputArea {
        width: 95%;

        & input {
          padding: 0;
          margin: 0;
        }

        & label {
          display: none;
        }
      }
    }
  }

  @media (max-width: 500px) {
    & {
      padding: 0;
      margin: 0;

      .findArea {
        width: 100%;
        margin: 0 auto;

        .inputArea {
          & input {
            padding: 0;
            margin: 0;
          }
        }

        & h1 {
          font-size: 20px;
          margin-top: 0;
        }

        .sortArea {
          & select {
            margin: 0;
          }
        }
      }

    }

  }

}
